/* general style */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #949494;
}

#container {
    width: 1100px;
    height: 500px;
    border: 1px solid #4c4c4c;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #89730e;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}

.card {
    width: 160px;
    height: 240px;
    margin: 2px auto;
    flex-shrink: 0;
    border-radius: 10px;
    perspective: 600px;
    top: 5px;
    left: 5px;
}

/* confirguration of cards front and back */
.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all 1s;
    backface-visibility: hidden;
}

.back {
    background: url("../images/back.png");
}

.back.flipped {
    transform: rotateY(180deg);
}

.front {
    transform: rotateY(-180deg);
}

.card:hover {
    box-shadow: 0 0 15px #282816;
    /* dist.x = 0, dist y=0, shadow=10px, cor sombra=*/
    cursor: pointer;
}