@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

/* general style */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #949494;
    text-align: center;
    width: 680px;
    height: fit-content;
}

.instruction .instruct .p {
    width: 100%;
    height: 50px;
    margin: 10px auto;
    font-size: 30rem;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    background-color: #89730e;
}

#container {
    width: 680px;
    height: 755px;
    border: 1px solid #757272;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #89730e;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}

.card {
    width: 160px;
    height: 240px;
    margin: 2px auto;
    flex-shrink: 0;
    border-radius: 10px;
    perspective: 600px;
    margin-top: 5px;
    margin-left: 5px;
}

/* confirguration of cards front and back */
.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all 1s;
}

.back {
    background: url("../images/back.png");
}

.back.flipped {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.front {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.front.flipped {
    transform: rotateY(0deg);
}

.card:hover {
    box-shadow: 0 0 15px #282816;
    cursor: pointer;
}

.face.flipped.match {
    box-shadow: 0 0 15px #0f0;
}

#modalGameOver>.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

#imgGameOver {
    margin-top: 100px;
}

#imgMatchSign>.container {
    /*position: relative;*/
    top: 150px;
    transition-property: top, opacity;
    transition-duration: 1.5s;
    opacity: 1;
    z-index: -1;
}