@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

/* general style */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #949494;
    justify-content: center;
    text-align: center;
    width: 680px;
    height: fit-content;
    margin: 0 auto;
}

.action {
    width: 680px;
    height: 50px;
    margin: 10px auto;
    position: relative;
}

/* style of the instruction heading */
h1,
p {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#main {
    width: 680px;
    height: 815px;
}

#container {
    width: 680px;
    height: 755px;
    border: 1px solid #757272;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #89730e;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    position: relative;
}

.card {
    width: 160px;
    height: 240px;
    margin: 2px auto;
    flex-shrink: 0;
    border-radius: 10px;
    perspective: 600px;
    margin-top: 5px;
    margin-left: 5px;
}

/* Button Restart */
button {
    background-color: #89730e;
    border: #282816;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1.3rem;
    color: #fff;
    padding: 0.7rem 1rem;
    margin-top: 13px;
}

button:hover {
    cursor: pointer;
    background-color: #514304;
    transition: 0.5s;
}

/* confirguration of cards front and back */
.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all 1s;
}

.back {
    background: url("../images/back.png");
}

.back.flipped {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.front {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.front.flipped {
    transform: rotateY(0deg);
}

.card:hover {
    box-shadow: 0 0 15px #282816;
    cursor: pointer;
}

.face.flipped.match {
    box-shadow: 0 0 15px #0f0;
}

/* cstyle of modal game over */
#modalGameOver {
    position: absolute;
    top: 0;
    width: 681px;
    height: 892px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.687);
    z-index: -2;
}

#imgGameOver {
    margin-top: 330px;
}

/* style of match image */
#imgMatchSign {
    position: fixed;
    /* so it's outside of the screen */
    top: 110vh;
    left: 50vw;
    background-color: #332e2eb2;
    transition-property: top, opacity;
    transition-duration: 1.5s;
    opacity: 0;
    z-index: -1;
}

#imgMatchSign.matched {
    top: 50vh;
    /* So its top and left are exactly in the middle of the screen */
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    z-index: 100;
}

/* Media queries */